@import "./bootstrap/scss/bootstrap.scss";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

p {
  text-align: justify;
}
.login {
  height: 100vh;
}

.btn-primary {
  border-radius: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.text-secondary {
  color: $gray-500 !important;
}
.form-control {
  border-radius: 40px;
  border-color: $primary;
}

.content-login {
  height: inherit;
  display: flex;
  align-items: center;
}

.post {
  border-bottom: 3px solid;
  border-color: $primary;
  margin-bottom: -3px;
}

.input-search {
  border-color: $gray-200;
  background-color: $gray-200;
  background-image: url("../images/icons/ic-search.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px;
  padding-right: 45px;
}

.input-search[type=text] {
  border-color: $gray-200;
  background-color: $gray-200;
}

.arrow-back{
  background-color: transparent;
  border-color: transparent;
}

.icon-pagination-custom{
  color: $gray-500;
}

.page-item-custom {
  border-bottom: 2px solid;
  border-color: $primary;
  padding-left: 5px;
  padding-right: 5px;
  color: $gray-500;
}

.page-item.active .page-link-custom {
  border: none;
  color: $gray-500;
  border-bottom: 3px solid;
  border-color: $primary;
}

.page-link-custom {
  text-decoration: none;
  color: $gray-500;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  margin-left: 2px;
}